@media only screen and (min-width: 1024px) {
    body {
      flex-direction: row;
      padding: 6vw;
      justify-content: center;
      align-content: center;
      overflow-y: hidden;
    }

    .all__wrapper {
        display: flex;
        max-width: 1280px;
        justify-content:center;
    }

    .bottom-text {
        display: block;
    }

    em {
        font-weight: 700;
        font-family: Roboto;
        font-size: 15px;
        line-height: 160%;
    }

    ul li::before {
        content: "✱";
        color: var(--pink);
        font-weight: bold;
        display: inline-block; 
        width: 1.2em;
      }
      
    ul {
        margin-bottom: 16px;
    }

    .pinktxt {
        color: var(--pink);
    }

    li {
        font-family: Roboto;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
    }

    section, .canvas__wrapper {
        margin-bottom:0;
    }

    .canvas__wrapper {
        width: 30vw;
        margin-left: 16px;
    }

    .infobox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 12vw);
        width: 25vw;
        margin-right: 16px;
    }

    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .textarea__wrappers {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 12vw);
        justify-content: space-between;
        width: 40vw;
    }

    .svg__wrapper, .p5__wrapper {
        height: calc((100vh - 12vw)/2);
    }

    .svg__wrapper {
        margin-bottom: 16px;
    }

    textarea {
        min-height: calc(100% - 32px);
        max-height: calc(100% - 32px);
    }

  }