@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap'); /* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');  /* Roboto */
@font-face {
    font-family: 'ChicagoFLF';
    src: url(../fonts/ChicagoFLF.ttf);
  }

#temp2, #temp {
    display: none;
}

/* Variables */
:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #DCDCDC;
    --pink: #EA2560;
    --border: 1px solid var(--black);
    --shadow: 1px 1px 0px 1px #000000;
  }

  body {
    background: var(--gray);
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  

  .bottom-text {
    display: none;
}

/* Toppers */

  h1 {
    font-family: ChicagoFLF;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  
 .title-left{
  background: var(--pink);
  border-right: var(--border)
}

.title-side {
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.topper {
  border: var(--border);
  height: 28px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.topper__white {
  background: var(--white);
}

/* Articles */

p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
}

section, .canvas__wrapper  {
  background: var(--white);
  border: var(--border);
  box-shadow: var(--shadow);
  margin-bottom: 16px;
  position: relative;
}

.canvas__wrapper {
  overflow: auto;
}

article {
  background: var(--white);
  padding: 24px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Link */
a, a:visited {
  font-family: Roboto;
  font-weight: 400;
  color: var(--black);
  text-decoration: none;
}

a.link-inline {
  text-decoration: underline var(--pink) 2px;
}

a.link-inline:hover {
  text-decoration: none;
  color: var(--pink);
}

.link-big {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--border);
  background: var(--white);
  height: 48px;
  text-decoration: none;
}

.link-big:hover {
  background: var(--black);
  color: var(--white);
}

/* Buttons */

button {
  background: var(--pink);
  border: var(--border);
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 8px;
  margin-left: 8px;
}

button:hover {
  background: var(--black);
  color: var(--white);
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
}

/* Inputs */
textarea {
  border: var(--border);
  font-family: "Roboto Mono";
  font-size: 14px;
}